<h2><%=@area.city_name%>, <%=@area.country_name%> </h2>

<%if @area.places.empty?%>
  <p>No interesting places have been added to this area yet</p>
<%else%>
<div>
  <%@area.places.each do |place|%>
  <p><a href="/places/<%=place.id%>"><%=place.name%></a></p>
  <%end%>
</div>
<%end%>

<%if @area.user_id == current_user.id %>
  <h4><a href="/areas/<%=@area.id%>/edit">Edit this Place</a></h4>
<%end%>
