<h2><%=@place.name%> was found in <%=@place.area.city_name%>, <%=@place.area.country_name%></h2>

<u><h2>Type of place:</u> <%=@place.place_type%></h2>

<u><p>Description:</u> <%=@place.description%></p>



<form method="POST" action="/places/<%=@place.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this Place">
